.container-fluid {
  padding: 0px;
  margin-top: -60px;
  width: 100vw;
}

@media only screen and (max-width: 768px) {
  .sideOpned {
    animation: sideOpned 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }

  @keyframes sideOpned {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-300px);
    }
  }

  .sideClosed {
    animation: sideClosed 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  @keyframes sideClosed {
    0% {
      transform: translateX(-300px);
    }
    100% {
      transform: translateX(0px);
    }
  }
}
